<div class="arkaplan">
    <div class="alt kapsayici">
        <div class="widget widget-about">
            <img src="/images/logo-footer.jpeg" class="footer-logo" alt="Footer Logo" width="105" height="25">
            <p>MA Teknoloji </p>

            <div class="widget-call">
                <i class="icon-phone"></i>
                Sorularınız İçin ?  24/7
                <a href="tel:#">+0123 456 789</a>         
            </div>
        </div>
        <div class="baglanti">
            <ul class="widget-list">
                <li><a href="about.html">Hakkımızda</a></li>
                <li><a href="#">Hizmetlerimiz</a></li>
                <li><a href="faq.html">SSS</a></li>
                <li><a href="contact.html">Bize Ulaşın</a></li>
            </ul>
        </div>
        <div class="baglanti">
            <ul class="widget-list">
                <li><a href="#">Ödeme Yöntemleri</a></li>
                <li><a href="#">Para İade Garantisi</a></li>
                <li><a href="#">İadeler</a></li>
                <li><a href="#">Nakliye</a></li>
                <li><a href="#">Şartlar ve Koşullar</a></li>
                <li><a href="#">Gizlilik Politikası</a></li>
            </ul>
        </div>
        <div class="baglanti">
            <ul class="widget-list">
                <li><a href="#">Kayıt Ol</a></li>
                <li><a href="cart.html">Sepete Git</a></li>
                <li><a href="#">Talep Listesi</a></li>
                <li><a href="#">Sipariş Takibi</a></li>
                <li><a href="#">Yardım</a></li>
            </ul>
        </div>
    </div>
</div>