<div class="card mb-3">
    <div class="row">
        <div class="col-9">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/products/<%= sehir_id %>">
                        <%= sehir_adi %>
                    </a>                                       
                </h5>
                <a href="/shopping/<%= sehir_id %>" class="btn btn-primary">Ürünleri Görüntüle</a>
            </div>
        </div>
    </div>
</div>
