<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/shopping.css">
</head>
<body class="">
    
    
    <div class="container">
        <header>
            <h1>Alışveriş Kartı</h1>
            <div class="shopping">
                <img src="/images/shopping.svg">
                <span class="quantity">0</span>
            </div>
            <div class="list">
                <div class="list">
                    <ul>
                        <% satinAlinanUrunler.forEach(urun => { %>
                            <li><%= urun.urun_adi %> - <%= urun.urun_fiyati %></li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </header>
    </div>
    <div class="card">
        <h1>Card</h1>
        <ul class="listCard">
        </ul>
        <div class="checkOut">
            <div class="total">0</div>
            <div class="closeShopping">Kapat</div>
        </div>
    </div>

    <script src="/js/app.js"></script>
</body>
</html>