*{
    box-sizing: border-box;
}

html{
    font-size:62.5%;/*1rem = 10px*/
}

body,h1,h2,ul{
    margin:0;
    padding:0;
    
}
ul{
    list-style: none;
}

/*******************/
body{
    font-family: 'Nunito Sans', sans-serif;
}
.arkaplan{
    background-color: #fffcf2;
}
.kapsayici{
    width: 960px;
    margin:0 auto;
}

.ust{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.ust .logo{
    text-align: center;
    color:#403d39;
}
.ust .logo h1{
    font-size:4rem;
    letter-spacing: .5rem;
}

.ust .logo h1::first-letter{
    color:#eb5e28;
}

.ust .logo h1:hover::first-letter{
    background-color: #403d39;
    color:#ccc5b9;
}

.ust .logo h2{
    font-size:2.4rem;
}

.ust .menu ul{
    display: flex;
}

.ust .menu ul a{
    color:#403d39;
    text-decoration: none;
    font-size:1.8rem;
    padding:0 2rem;
}
.ust .menu ul a:hover{
    color:#eb5e28;
}

.orta .bolum1{
    margin-top:20px;
    border:10px solid #101617;
}

.orta .bolum1 img{
    display: block;
    width: 100%;
}

.orta .bolum2 img{
    display: block;
    width: 100%;
    
}

.orta .bolum2{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}
.orta .bolum2 .kutu{
    flex-basis: 290px;
    text-decoration: none;
}

.orta .bolum2 .kutu h2{
    font-size: 2rem;
    color: #252422;  
}

.orta .bolum2 .kutu p{
    font-size: 1.6rem;
}

.orta .bolum2 .kutu a{
    text-decoration: none;
}

.orta .bolum2 .kutu h2:hover{
    color: #eb5e28;
}

.orta .bolum3{
    display: flex;
    justify-content: space-between;
    gap:20px;
}

.orta .bolum3 h1{
    font-size:2.5rem;
}

.orta .bolum3 p{
    font-size:1.6rem;
}

.alt{
    margin-top:20px;
    padding:20px ;
    display: flex;
    gap:100px;
    width: auto;
}
.alt .baglanti{
    flex-grow: 1;
}

.alt .baglanti ul li{
    
    margin:5px 0;
}

.alt .baglanti a{
    font-size:1.6rem;
    text-decoration: none;
    color:#252422;
}

.alt .baglanti a:hover{
    color: #eb5e28;
}


.cizgi{
    border-top:dotted 1px #FCB941;
    margin:20px 0;
}

.alt-kenar-10{
    border-bottom:10px solid #ccc5b9;
}

.footer-logo {
    max-width: 105px;
    height: auto;
    margin-bottom: 20px;
}

.widget-about p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
    color:#252422;
}

.widget-call {
    font-size: 16px;
    color:#252422;

}

.widget-call a {
    color: #eb5e28;
    text-decoration: none;
    font-weight: bold;
}

.widget-call a:hover {
    text-decoration: underline;
}
