/* Card genel stil */
.card {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #e2e2e2;
    display: flex; /* Kartları yatayda sırala */
    width: 33%;
}

/* Kart satırları (Row) */
.card .row {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Row'un genişliği 100% olmalı */
}

/* Kartın resim bölümü (sol taraftaki bölüm) */
.card .col-3 {
    width: 15%;
    padding: 15px;
    background-color: #717171;
    border-radius: 5px 0 0 5px;
}

.card .col-3 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Kartın içerik bölümü (sağ taraftaki bölüm) */
.card .col-9 {
    padding: 15px;
    flex: 1; /* İçerik bölümüne esneklik ver */
}

/* Kart başlığı */
.card h5.card-title a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.card h5.card-title a:hover {
    color: #c92f00;
}

/* Kart fiyatı */
.card p.card-text {
    color: #777;
    font-weight: 400;
}

.card .mb-3 {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Kartın genişliği 100% olmalı */
}
